body{
    font-family: "Inter", sans-serif;
}


.navbar {
 display: flex;
 
 height: 60px;
 background-color: black;

 gap: 20px;

 align-items: center;

 box-shadow: 0 3px 10px rgba(0,0,0,0.3);

 position: sticky;
 top: 0;

 padding: 0 20px;
}

.nav-button {
 color: #D4AF37;
 text-decoration: none;
}