body{
    font-family: "Inter", sans-serif;
    background-color: white;
}


.navbar {
 display: flex;
 
 height: 60px;
 background-color: black;

 gap: 20px;

 align-items: center;

 box-shadow: 0 3px 10px rgba(0,0,0,0.3);

 position: sticky;
 top: 0;

 padding: 0 20px;
}

.nav-button {
 color: #D4AF37;
 text-decoration: none;
 border-radius: 8px;
 cursor: pointer;
 transition: 0,2s;
}

.nav-button:hover{
    background-color: #D4AF37;
    color: black;
}

.logo {
    width: 70px;
    height: auto;
    margin-left: auto;
}